body {

	/*font-family: 'Nunito', sans-serif;*/
	overflow: hidden;
}

/*.navbar {
    position: absolute;
    top: 0px;
}*/

button{

	font-family: 'Nunito', sans-serif;
}

.button1 {

	position: absolute;
	right: 50px;
	bottom: 50px;

}

.button2 {
	position: absolute;
	right: 50px;
	bottom: 100px;
	font-size:16px;
	border-radius:10px;
}

.button3 {
		
	position: fixed;
	left: 25px;
	bottom: 70px;
	font-size: 30px;
	border-radius: 5px;
	width: 40px;	

	background-color: rgb(255, 255, 255, 0.3);
	border:2px solid black;
	color:black;	
	cursor:pointer;
}

.button4 {
	position: relative;
	left: 5%;
	top: 2px;
	font-size: 16px;
	border-radius: 5px;
	margin: 10px;
	width: max-content;
	background-color: rgb(255, 255, 255, 0.3);
	border:2px solid black;
	color:black;
	padding:14px 28px;
	cursor:pointer;

}

.button4:hover
{
	background:#e7e7e7;
}
/*.button3 {border-radius: 8px;}*/


#container {

	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	padding:20px;
}



.modal {
	font-family: 'Nunito', sans-serif;
	display:  inline;
	position: absolute;/*fixed or absolute*/
	z-index: 1;
	/*width: 30%;
	height: 30%;*/
	left: 1%;
	bottom: 15%;
	background-color: rgb(255,255,255,0.6);
	border-radius: 15px;
	/*margin: 10px;*/
	font-weight: bold;
	padding: 50px 50px;
}


.modal-content {
	/*background-color: #fefefe;*/
	margin: 5%;
	width: auto;

}


.close {
	color: #aaa;
	font-size: 40px;
	
	font-weight: bold;
	position:absolute;
	top:15px;
	right:35px;
}

	.close:hover,
	.close:focus {
		color: black;
		text-decoration: none;
		cursor: pointer;
	}




